/* body{
    background: rgb(154,186,208);
    background: radial-gradient(circle, rgba(154,186,208,0.7875525210084033) 7%, rgba(118,236,163,0.7343312324929971) 50%, rgba(38,191,223,0.7315301120448179) 96%);
} */

label { 
    color: #2d71f0; 
    font-weight: bold; display: block; 
    width: 150px; float: left; } 
    
label:after { content: ": " }

h1{
    color: #2d71f0; 
    
}
